* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Topo */
#Topo {
    background-color: yellow;
    width: 100%;
    height: 150px;
}
/* Geral */
#Geral {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* Lado Esquerdo */
#Esquerda {
    background-color: blue;
    width: 300px;
    height: 588px;
}
/* Lado Direito */
#Direita {
    background-color: red;
    width: 300px;
    height: 588px;
}
/* Imagens */
img {
    width: 100%;
    height: auto;
}
/* Centro com os quadrados */
.Centro {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
}
/*Quadrados*/
.Quadrado {
    width: 250px;
    height: 250px;
}
/* Responsividade */
@media (max-width: 1024px) {
    .Centro {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    #Esquerda, #Direita {
        width: 25%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    #Geral {
        align-items: center;
    }

    #Esquerda, #Direita {
        width: 80%;
        height: 100%;
    }

    .Centro {
        grid-template-columns: 1fr;
    }

    .Quadrado {
        width: 100%;
        max-width: 130px;
        height: 100px;
    }
}